html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/footer.css")
        link(rel="stylesheet", href="/css/mobile.css")
        link(rel="icon", type="image/x-icon", href="https://scontent-ber1-1.xx.fbcdn.net/v/t39.30808-6/297088815_2344142055737091_3464881371090965184_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGCqv_jZSXDVPmApjx9TTeIn3oGN-3R0i-fegY37dHSL7gse0xfjGLRWbiqfhFgb1a3255tEsKeTQBft-Jt6EOE&_nc_ohc=rfocJDRQyooAX9j5fIC&_nc_ht=scontent-ber1-1.xx&oh=00_AT92ylrzUW_XDqVP0DZvrQ6f1XNmgIZYA3LGdLaMiENe0g&oe=62F7EC3E")
        title Auto MK
    body 
        a(href="/") 
            