body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

ul.nav-menu {
  color: rgb(147, 147, 93);
  background-color: #153e4d;
  height: 100px;
  font-size: x-large;
  /* justify-content: space-between; */
}
.nav-menu-img {
  position: relative;
  top: 5px;
  width: 100px;
  height: 50%;
  border-radius: 15px;
}
ul.nav-menu li a {
  color: white;
}
ul.nav-menu li a:hover {
  color: lime;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
}

.flex-col {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  position: absolute;
  left: 14%;
}

.form-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 200px;
  margin: 0 auto;
  height: 200px;
  position: relative;
  top: 100px;
}
.link-navigim a {
  margin: 0 auto;
  position: relative;
  left: 43%;
  top: 180px;
}
.link-navigim a:hover {
  margin: 0 auto;
  position: relative;
  left: 43%;
  top: 180px;
  color: black;
}

.regjistrohu {
  text-align: center;
}
.form-elem-login input {
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30%;
  font-size: x-large;
  height: 40px;
  border-radius: 20px;
}

.form-elem-login-submit input {
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 10%;
}
.form-elem-login-krijo input {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px;
}
.single-prod-card {
  max-width: 360px;
  margin: 5px;
  padding: 10px;
}
.single-prod-card img {
  position: relative;
  /* width: 200%;
  height: 300px;
  left: -40%; */
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  width: 400px;
  /* opacity: 0.9; */
  margin: 0 auto;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;
}
.nav-menu {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: bisque;
}
.nav-menu li {
  list-style: none;
  color: black;
  text-decoration: none;
  margin: 5px 10px;
  padding: 5px 7px;
  border-radius: 5px;
}
.nav-menu li:hover {
  list-style: none;
  color: lime;
  text-decoration: none;
  margin: 5px 10px;
  padding: 5px 7px;
  border-radius: 5px;
}
.nav-menu li a {
  text-decoration: none;
  color: black;
}

/* profile page styles */

.user-products-list {
  width: 35%;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
}
.user-products-list img {
  width: 100%;
}
.each-product {
  border-bottom: 2px solid black;
}
.each-product h2 {
  color: blue;
}
.produktet-tuaja {
  color: #153e4d;
  border-bottom: 2px solid gray;
}

/* single product page */

.product-wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  left: 0;
  margin: 0 auto;
  left: 2.2%;
}
h4.shitesi {
  color: white;
  background-color: rgb(90, 158, 158);
  padding: 3px;
  border-radius: 20px;
  max-width: 100%;
}

h3.tel {
  color: green;
  border-bottom: 2px solid limegreen;
}
.single-prod-card h3.shitesi {
  color: blue;
}

.single-prod-card h3.cmimi {
  color: red;
}

.single-prod-card h3.pershkrimi {
  color: black;
  border-bottom: 1px solid black;
}
.fotot {
  position: relative;
  display: flex;
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  gap: 20px;
  left: -400px;
}
.fotot img {
  height: 100px;
  width: 100px;
}

.product-wrapper-single img {
  width: 100%;
}
.product-wrapper-single {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
}

.product-wrapper-single img:hover {
  transition: 0.8s;
  transform: scale(1.5);
  width: 100px;
}

.product-wrapper-single img:not(:hover) {
  transition: 0.8s;
  transform: scale(1);
}

h4.price {
  color: white;
  background-color: rgb(112, 126, 126);
  padding: 3px;
  border-radius: 20px;
  max-width: 100%;
}
h3.product-name {
  border-bottom: 1px solid black;
  text-align: center;
  color: black;
  list-style-type: none;
}

.single-prod-card a {
  border-bottom: 1px solid black;
  text-align: center;
  color: white;
  list-style-type: none;
}
textarea {
  width: 50%;
  height: 20%;
  border-radius: 20px;
  padding: 5px;
}
h1.kujdes {
  color: red;
  text-align: center;
  font-size: x-large;
}
/* .container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  top: calc(height - 100px);
  height: 100%px;
  background-color: lightgray;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.container form {
  background-color: cadetblue;
  height: 100%;
  border-radius: 20px;
} */

/* .container-fluid li a {
  background-color: red;
  color: lime;
} */

table th {
  text-align: center;
  color: #153e4d;
}

#table-img {
  width: 100px;
  height: 70px;
  border-radius: 10px;
}

.file {
  background-color: lightgray;
}
.form-wrapper.create {
  top: 0px;
  height: 100%;
}
/* .form-elem-login.create input {
  margin-top: 10px;
}
.form-elem.create input {
  padding: 10px;
  width: 30%;
  border-radius: 20px;
} */
.form-elem-login-create-btn input {
  position: relative;
  padding: 10px;
  color: white;
  background-color: gray;
  background-color: blue;
  border: none;
  border-radius: 10px;
  margin-bottom: 2%;
}
.form-elem-login-reset-btn input {
  position: relative;
  padding: 10px;
  color: black;
  background-color: gray;
  background-color: rgb(242, 255, 0);
  border: none;
  border-radius: 10px;
  margin-bottom: 2%;
}

.form-elem-login-create-btn input:hover {
  position: relative;
  padding: 10px;
  color: black;
  background-color: gray;
  background-color: yellow;
}

.form-elem.create.zgjidh select {
  padding: 10px;
  font-size: large;
  width: 33%;
  border-radius: 25px;
}
.form-elem.create.zgjidh option {
  font-size: large;
  padding: 10px;
}

.form-elem.create.zgjidh option:nth-child(even) {
  background: lightgray;
}

/* .container input {
  border-radius: 20px;
} */
a.link {
  border-bottom: 2px solid black;
  text-decoration: none;
  color: red;
}
a.link:hover {
  color: blue;
}
.container-profile {
  margin: 20px;
  display: flex;
}
.container-top {
  text-align: center;
}
h1.mirsevini {
  color: green;
}
p4.emaili {
  color: blue;
}
h4.tel {
  color: black;
  background-color: lightgreen;
  padding: 3px;
  border-radius: 20px;
  max-width: 100%;
}
.location {
  color: white;
  background-color: rgb(245, 71, 71);
  padding: 3px;
  border-radius: 20px;
  max-width: 100%;
}
.automk {
  color: white;
  text-align: center;
  background-color: rgb(46, 120, 120);
}
.container-home {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
button.danger {
  background-color: crimson;
  /* background-color: rgb(138, 4, 4); */
  border: none;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  width: 60%;
}
.featured-products {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.product-wrapper-single-featured {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.single-prod-card-featured img {
  flex-direction: row;
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.single-prod-card-featured img:hover {
  transition: 1s;
  transform: scale(1.1);
}
.single-prod-card-featured img:not(:hover) {
  transition: 1s;
  transform: scale(1);
}
.single-prod-card-featured {
  max-width: 360px;
  margin: 5px;
  padding: 10px;
  margin: 0 auto;
}
.single-prod-card-featured img {
  max-width: 100%;
  height: 200px;
}

button.danger:hover {
  background-color: red;
  cursor: pointer;
}
.most-visited {
  text-align: center;
  /* border-bottom: 1px solid black; */
}
.foto-banner img {
  width: 400px;
}
.foto-falas img {
  width: 400px;
  border-radius: 20px;
}

.zero-produkte {
  color: red;
  text-align: center;
  top: 50%;
}
form.search {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
input.search {
  padding: 10px;
  width: 40%;
  border: 2px solid black;
}
button.search {
  padding: 10px;
  border: 2px solid black;
  background-color: yellow;
  color: black;
  list-style-type: none;
  text-decoration: none;
}
button.search:hover {
  cursor: pointer;
}
a.profile-krijo-produkt-link {
  color: red;
  font-size: x-large;
}
a.profile-krijo-produkt-link:hover {
  color: blue;
}
.deleteAcc {
  background-color: red;
  padding: 6px;
  width: 10%;
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  width: 250%;
  height: 100%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  position: relative;
  vertical-align: middle;
  right: 75%;
}

.cell {
  font-size: medium;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #153e4d;
  color: white;
  border-radius: 10px;
  /* 
  border: 2px solid gray;
  border-radius: 10px; */
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
  padding: 5px;
}

/* .cell img {
  width: 40%;
  height: 40%;
} */

.counter {
  position: relative;
  text-align: center;
  top: 70px;
  background-color: white;
  /* background: linear-gradient( rgb(82, 82, 253),#385e7d); */
  margin-bottom: -10px;
}
.number {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-family: comic sans ms, cursive;
  position: relative;
  margin: 0;
}
.number:hover {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.numberTxt {
  position: relative;
}
.footer {
  color: black;
}
a.footer:hover {
  color: white;
}
.bardh {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
.bardh:hover {
  color: white;
}
.data {
  position: relative;
  /* text-decoration: line-through; */
  color: green;
}
.admin {
  color: #153e4d;
  text-align: center;
}
#container {
  background-color: white;
  border-radius: 20px;
}
.create-product-body {
  background: linear-gradient(white, rgb(182, 138, 138));
}
.create-company-body {
  background: linear-gradient(white, lightgreen);
}

#container {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#container input,
select,
option,
label {
  margin: 0 auto;
  width: 50%;
}
select.form-control {
  width: 50%;
  margin: 0 atuo;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  left: 25%;
}
#viti-prodhimit-select {
  width: 100%;
  left: 0;
}
#form-elem.create textarea {
  width: 50%;
  position: relative;
  margin: 0 auto;
  max-width: 75%;
  min-width: 50%;
}

.login-form input {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
.login-form a {
  position: relative;
  left: 38%;
  text-align: center;
  margin: 0 auto;
}
.login-form input[type='submit'] {
  margin: 0 auto;
  position: relative;
  left: 25%;
}
.container.login {
  background-color: lightgray;
  border-radius: 20px;
}
img.rounded-circle.p-1.bg-primary {
  border-radius: 20px;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

/* 
section {
  padding: 60px 0;
  display: flex;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
} */

.produktet-tuaja {
  text-align: cetner;
  align-items: center;
  justify-content: center;
  display: flex;
}

#deleteAccProfile {
  position: absolute;
  right: 30px;
  top: 20px;
}

#myNavbar ul li a:hover {
  color: lime;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom: 15px;
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
#companyDesc {
  border: none;
  max-height: 300px;
  height: 150px;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 50px;
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
input.form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

select.form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

/* .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: lime;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
*/

.overlay li a:hover {
  color: lime;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
nav {
  position: relative;
  float: right;
  display: flex;
  list-style-type: none;
  font-size: x-large;
}
.navbarrrrrr {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  color: white;
}
.navbarrrrrr a {
  color: white;
}
.navbarrrrrr a:hover {
  color: lime;
  list-style-type: none;
  text-decoration: none;
}
.dataSot {
  color: black;
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
}
.menu-text {
  position: sticky;
  top: 0px;
  color: white;
  font-size: 30px;
}
.menu-text:hover {
  color: lime;
}
.navbar-full {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #153e4d;
}
.portfolio-item.row {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.grey-bg {
  background-color: #f5f7fa;
}
