.navbar-full
  #myNav.overlay
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
    .overlay-content
      li
        a.lime(href='/') Ballina
          i(class="fa fa-home")
              li
                a.lime(href="/products") Blej
                  i(class="fa fa-car")
          li
            a.lime(href="/reklamo/teGjitha") Firmat 
              i(class="fa fa-building")
          li
            a.lime(href="/products/create") Shit 
              i(class="fa fa-money")
  
          li
            a.lime(href="/reklamo/biznes") Reklamoni Firmën tuaj 
              i(class="fa fa-share")


  
  
          
  span.menu-text(style='cursor:pointer' onclick='openNav()') &#x2630; Menu
  script.
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }
    function closeNav() {
    document.getElementById("myNav").style.width = "0%";
    }
    
  nav
    .navbarrrrrr 
      ul.nav(class="navbar-nav navbar-right")
      li
        a(href="/users/profile") 
          span(class="glyphicon glyphicon-user")
          |  Profili
      li
        if user
          a(href="/users/logout") 
            span(class="glyphicon glyphicon-log-in")
            |  Logout 
        if !user
          a(href="/users/logout") 
            span(class="glyphicon glyphicon-log-in")
            |  Login    
