nav 

    ul.nav-menu 
        img(src="https://scontent.fmbx2-1.fna.fbcdn.net/v/t39.30808-6/297088815_2344142055737091_3464881371090965184_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=zxYBxmSL1_QAX-cLcmT&_nc_ht=scontent.fmbx2-1.fna&oh=00_AT-r8PrlCnxjz3p9hADuhQ7e9J-9ZDQjDKEUy5-g4CxWNw&oe=6309B87E", alt="logo")

        li 
            a(href="/") Ballina
        li 
            a(href="/products") Blej
        li 
            a(href="/products/create") Shit veturën tënde
        li 
            a(href="/users/profile") Profili
        li 
            a(href="/users/logout") Login/out 
        
        //- li 
        //-     a(href="/mk") 
        //-         p mk
//- https://scontent-ber1-1.xx.fbcdn.net/v/t39.30808-6/297088815_2344142055737091_3464881371090965184_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGCqv_jZSXDVPmApjx9TTeIn3oGN-3R0i-fegY37dHSL7gse0xfjGLRWbiqfhFgb1a3255tEsKeTQBft-Jt6EOE&_nc_ohc=rfocJDRQyooAX9j5fIC&_nc_ht=scontent-ber1-1.xx&oh=00_AT92ylrzUW_XDqVP0DZvrQ6f1XNmgIZYA3LGdLaMiENe0g&oe=62F7EC3E